<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Alkoholrechner</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/bootstrap.min.css"></link>
<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">

		<h1>Alkoholrechner</h1>
    <p>
      Die Templating Bibliothek ist strikter als normales HTML,
      achten Sie darauf dass Sie nur wohlgeformtes HTML schreiben.
    </p>

		<p th:text="${person?.gewicht}"></p>

		<form method="post">
		  <div class="form-group">
		    <label for="gewichtInput">Gewicht</label>
		    <input th:value="${person?.gewicht}" type="number" required="true" name="gewicht" class="form-control" id="gewichtInput" placeholder="Gewicht eingeben"></input>
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>

    <div class="alert alert-error" role="alert">
      Achtung, diese Anwendung ist rein informativ.
      Bitte setzen Sie sich nicht alkoholisiert
      hinter das Steuer!
    </div>

	</div>
</body>
</html>
